body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
  height: 100svh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body > div {
  display: flex;
}

h1 {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0 23px 0 0;
  font-size: 24px;
  font-weight: 500;
  vertical-align: top;
  line-height: 49px;
}

@media (prefers-color-scheme: dark) {
  h1 {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
}

h2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 49px;
  margin: 0;
}
