/*! DDR Calc | https://github.com/Andrew67/ddr-calc */
/* Core app shell and calculator CSS */

/* Default theme */
:root {
    /* Material Design elevation; see https://material.io/design/environment/elevation.html#default-elevations */
    --color-surface-z0: white; /* Lowest level; essentially the display */
    --color-surface-z1: white; /* Card */
    --color-surface-z8: white; /* Menu */
    --color-surface-z16: white; /* Modal side sheet */
    --color-surface-z24: white; /* Dialog */

    --color-foreground: rgba(0,0,0,.87);
    --color-foreground-medium: rgba(0,0,0,.6);
    --color-foreground-medium-lg: rgba(0,0,0,.7); /* Variant for larger UI elements */
    --color-foreground-disabled: rgba(0,0,0,.38);
    --color-foreground-focus: rgba(0,0,0,.12); /* Variant for non-selected focused elements on surface */

    --color-accent: #1976d2; /* Material Blue 700; same as DDR Finder primary color */
    --color-accent-lg: #004ba0; /* Material Blue 700 Dark; variant for larger UI elements */
    --color-accent-focus: rgba(25,118,210,.12); /* Variant of Material Blue 700 for selected focused elements on surface */

    --color-result: #00600f; /* Material Green 700 Dark */

    --color-keypad-bg: #263238; /* Material Blue Grey 900 */
    --color-keypad-ext-bg: #455a64; /* Material Blue Grey 700 */
    --color-keypad-bg-active: #546e7a; /* Material Blue Grey 600 */

    --color-keypad-fg: rgba(255,255,255,.87);

    --duration-fade-in-delayed-init: .6s; /* Duration of fade-in-delayed animation during init */

    /* Shadows; sourced from https://material-components.github.io/material-components-web-catalog/#/component/elevation */
    --shadow-surface-z1: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
    --shadow-surface-z8: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
    --shadow-surface-z16: 0 8px 10px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12);
    --shadow-surface-z24: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
}

/* Dark theme; added here to load ASAP for flicker-free UI purposes for returning users */
body.theme-dark {
    /* Dark theme overlay-based elevations; see https://material.io/design/color/dark-theme.html#properties */
    --color-surface-z0: #121212;
    --color-surface-z1: #1d1d1d; /* 5% white overlay */
    --color-surface-z8: #2d2d2d; /* 12% white overlay */
    --color-surface-z16: #353535; /* 15% white overlay */
    --color-surface-z24: #373737; /* 16% white overlay */

    --color-foreground: rgba(255,255,255,.87);
    --color-foreground-medium: rgba(255,255,255,.6);
    --color-foreground-medium-lg: rgba(255,255,255,.7);
    --color-foreground-disabled: rgba(255,255,255,.38);
    --color-foreground-focus: rgba(255,255,255,.12);

    --color-accent: #90caf9; /* Material Blue 200 */
    --color-accent-lg: #bbdefb; /* Material Blue 100 */
    --color-accent-focus: rgba(144,202,249,.12); /* Variant of Material Blue 200 for focused elements on surface */

    --color-result: #c8e6c9; /* Material Green 100 */

    --color-keypad-bg: #102027; /* Material Blue Grey 800 Dark */
    --color-keypad-ext-bg: #1c313a; /* Material Blue Grey 700 Dark */
    --color-keypad-bg-active: #29434e; /* Material Blue Grey 600 Dark */
}

html, body {
    width: 100%;
    height: 100%;

    /* Prevents bounce scroll on iOS */
    position: fixed;
    overflow: hidden;
}

body {
    font-family: "Roboto", system-ui, -apple-system, sans-serif;
    background: var(--color-surface-z0);
    color: var(--color-foreground);

    /* Block text selection for app-like experience */
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    /* Blocks scrolling, zooming, and pull-to-refresh (does not work on iOS) */
    touch-action: none;
}

* {
    /* Recommended CSS reset from https://internetingishard.com/html-and-css/css-box-model/ */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Cancel iOS highlighting of buttons since we have our own */
    transition: background-color .1s; /* Default fade across states (focused, active, etc) and theme switches */
}

*::before {
    transition: background-color .1s; /* Default fade across states (focused, active, etc) and theme switches */
}

button {
    font: inherit;
    color: currentColor;
    background: transparent;
    border: 0;
}

button::-moz-focus-inner {
    border: 0;
}

@keyframes fade-in-delayed {
    from {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#calculator li, #menu li, #song-list li {
    list-style: none;
}

#app, #calculator {
    width: 100%;
    height: 100%;
}

/* Incompatible browser overlay; these should work down to Android 4.4 */
#browser-dialog {
    position: absolute;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.64);
    width: 100%;
    height: 100%;
    animation-name: fade-in-delayed;
    animation-duration: 1s;
}

#browser-dialog > div {
    background: white;
    background: var(--color-surface-z24);
    border-radius: 15px;
    padding: 8px;
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#browser-dialog h1 {
    font-size: 18px;
    margin: 0;
    text-align: center;
}

#browser-dialog p {
    margin: 8px 8px 0;
}

#browser-dialog ul {
    padding-left: 25px;
    margin: 8px 0;
}

#browser-dialog p.footer {
    text-align: center;
    margin: 4px;
}

/* Calculator */
#display {
    width: 100%;
    height: 30%;
    font-size: calc(5vh + 5vw);
    position: relative;
}

#display > div {
    width: 100%;
    height: 100%;
    color: var(--color-foreground-medium-lg);
}

#surface-speedmod div {
    margin-right: 3vw;
    height: 50%;
}

#surface-targetbpm {
    position: absolute;
    top: 0;
    left: 100%;
}

.overlay {
    display: none;
}

#display .active {
    color: var(--color-accent-lg);
}

#result, #high-result, #low-result {
    color: var(--color-result);
}

#mode-switcher {
    position: relative;
    height: 48px;
    line-height: 48px;
    display: none;
    font-size: 14px;
    font-weight: 500;
    opacity: 0;
}

#calculator {
    display: flex;
    flex-direction: column;
}

#keypad {
    flex: 1;
    color: var(--color-keypad-fg);
    font-size: calc(5vh + 5vw);
    display: flex;
    flex-wrap: wrap;

    /* Blocks double-tap-zoom (the only touch-action supported by iOS, does not block scroll or zoom) */
    touch-action: manipulation;
}

/* Mode switcher visible only on displays where it occupies 8% or less of total height */
@media (min-height: 600px) {
    #mode-switcher {
        display: block;
    }
}

#display div, #keypad {
    font-weight: 300; /* Light */
}

#display > div > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#keypad > ul {
    display: flex;
    flex-wrap: wrap;
}

#keypad-main {
    flex: 3;
    background: var(--color-keypad-bg);
}

#keypad-ext {
    flex: 1;
    background: var(--color-keypad-ext-bg);
}

#keypad li {
    display: inline-flex;
    width: 33.3333%;
    justify-content: center;
    align-items: center;
}

/* Reduce font size for BPM key */
#keypad li:last-of-type {
    font-size: calc(3vh + 3vw);
}

#keypad li > * {
    transition: transform .1s;
}

#keypad li.active {
    background: var(--color-keypad-bg-active);
}

#keypad li.active > * {
    transform: scale(0.95, 0.95);
}

#keypad li[aria-disabled="true"] {
    pointer-events: none;
}

#keypad li[aria-disabled="true"] > * {
    opacity: .19;
    transition: opacity .1s;
}

#keypad-ext li {
    width: 100%;
    font-size: calc(3vh + 3vw);
}

#display, #mode-switcher, #keypad li {
    animation-name: fade-in-delayed;
    animation-duration: var(--duration-fade-in-delayed-init);
}