/*! DDR Calc | https://github.com/Andrew67/ddr-calc */
/* Menu CSS */
#menu-btn {
    display: block;
    top: 8px;
    left: 8px;
    /* Increase the touch target */
    text-align: left;
    width: 56px;
    height: 44px;
    animation-name: fade-in;
    animation-duration: var(--duration-fade-in-extra);
}

@supports (left: max(8px, 0px)) {
    #menu-btn {
        left: max(8px, var(--safe-area-inset-left));
    }
}

#menu-btn::before {
    content: '';
    position: absolute;
    top: 4px;
    left: -4px;
    background: var(--color-foreground-focus);
    border-radius: 32px;
    width: 32px;
    height: 32px;
    z-index: -1;
    opacity: 0;
    transition: opacity .1s;
}

#menu-btn:focus::before {
    opacity: 1;
}

#menu, .dialog-container {
    opacity: 0;
    transition: transform 0s .1s, opacity .1s, visibility 0s linear .1s;
}

#menu.show, .dialog-container.show {
    opacity: 1;
    transition: visibility 0s linear 0s, opacity .1s;
}

a {
    color: var(--color-accent);
}

/*
  Menu overlay; implements Material Design Menus
  https://material.io/design/components/menus.html
*/
#menu-popup {
    display: inline-block;
    background-color: var(--color-surface-z8);
    box-shadow: var(--shadow-surface-z8);
    border-radius: 8px;
    min-width: 112px;
    /* Place on top of menu button */
    position: relative;
    top: calc(16px + var(--safe-area-inset-top));
    left: 12px;
    /* Expand animation from top-left corner */
    transform: scale(.5, .5);
    transform-origin: top left;
    transition: transform .1s;
    overflow: hidden; /* Clip the corners of the focused item backgrounds */
}

@supports (left: max(12px, 0px)) {
    #menu-popup {
        left: max(12px, 4px + var(--safe-area-inset-left));
    }
}

#menu.show #menu-popup {
    transform: scale(1, 1);
}

#menu li {
    line-height: 48px;
    display: flex;
}

#menu li button {
    flex: 1;
    text-align: left;
    padding: 0 16px;
}

#menu li button:focus {
    outline: 3px solid transparent;
    background: var(--color-foreground-focus);
}

#menu button:disabled {
    opacity: .38;
}

/* Re-usable dialog component: container presumed to also be a .full-screen-overlay, with one child dialog <div> */
.dialog-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--safe-area-inset-top) var(--safe-area-inset-right) var(--safe-area-inset-bottom) var(--safe-area-inset-left);
}

.dialog-container > div {
    max-height: calc(100% - 88px);
    max-width: calc(100% - 88px);
    background-color: var(--color-surface-z24);
    box-shadow: var(--shadow-surface-z24);
    border-radius: 15px;
    padding: 8px;
    overflow: auto;
}

#about ul {
    margin: 16px 8px 8px 25px;
    padding: 0;
}

#about li {
    line-height: 32px;
}

#app-logo * {
    margin: 4px 0;
    text-align: center;
}

#app-logo img {
    display: block;
    margin: 8px auto;
}

#app-logo h1 {
    font-size: 16px;
}

#app-version {
    font-weight: normal;
}

#app-logo h2 {
    font-size: 14px;
    font-weight: normal;
}
