/*! DDR Calc | https://github.com/Andrew67/ddr-calc */
/* Menu CSS */
#menu-btn {
    display: block;
    top: 16px;
    left: 8px;
    /* Increase the touch target */
    text-align: left;
    width: 56px;
    height: 40px;
}

#menu, #about {
    opacity: 0;
    transition: transform 0s .1s, opacity .1s; /* Delay transition to let dismissal effects show */
}

#menu.show, #about.show {
    transform: translateX(100%);
    opacity: 1;
    transition: opacity .1s;
}

a {
    color: #1976d2; /* Material Blue 700 */
}

/*
  Menu overlay; implements Material Design Menus
  https://material.io/design/components/menus.html
*/
#menu-popup {
    display: inline-block;
    background-color: white;
    border-radius: 8px;
    min-width: 112px;
    /* Place on top of menu button */
    position: relative;
    top: 16px;
    left: 12px;
    /* Box Shadow Level 3 from https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d */
    box-shadow: 0 2px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /* Expand animation from top-left corner */
    transform: scale(.5, .5);
    transform-origin: top left;
    transition: transform .1s;
}

#menu.show #menu-popup {
    transform: scale(1, 1);
}

#menu li {
    padding: 0 16px 0 16px;
    line-height: 48px;
}

#menu-popup [aria-disabled="true"] {
    opacity: .38;
}

#about-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 275px;
    max-height: calc(100% - 88px);
    max-width: calc(100% - 88px);
    overflow: auto;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    padding: 8px;
    /* Box Shadow Level 5 from https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d */
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#about-box ul {
    margin-left: 25px;
    margin-right: 8px;
    padding: 0;
}

#about-box li {
    line-height: 32px;
}

#app-logo * {
    margin: 4px 0 4px 0;
    text-align: center;
}

#app-logo img {
    display: block;
    margin: 0 auto;
}

#app-logo h1 {
    font-size: 16px;
}

#app-version {
    font-weight: normal;
}

#app-logo h2 {
    font-size: 14px;
    font-weight: normal;
}