/*! DDR Calc | https://github.com/Andrew67/ddr-calc */
/* Privacy Policy */
body {
    font-family: "Roboto", system-ui, sans-serif;
    padding: 1em;
    background-color: white;
    color: rgba(0,0,0,.87);
}
#toolbar {
    width: calc(100% - 32px);
    height: 24px;
    background-color: #263238;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    padding: 16px;
}
body.show-toolbar {
    padding-top: calc(1em + 56px);
}
.show-toolbar #toolbar {
    display: block;
}
#i-arrow-left {
    cursor: pointer;
}
body.dark {
    background-color: black;
    color: rgba(255,255,255,.87);
}
body.dark a {
    color: #90caf9;
}