/*! DDR Calc | https://github.com/Andrew67/ddr-calc */
/* Target BPM CSS */

#mode-switcher#mode-switcher {
    opacity: 1;
}

#mode-switcher label {
    display: inline-block;
    flex: 1;
    text-transform: uppercase;
    text-align: center;
    animation-name: fade-in;
    animation-duration: var(--duration-fade-in-extra);
    color: var(--color-foreground-medium);
}

#mode-switcher input:checked + span {
    color: var(--color-accent);
}

#mode-switcher hr {
    width: 50%;
    border: none;
    border-bottom: 2px solid var(--color-accent);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform .2s;
}

.targetbpm #mode-switcher hr {
    transform: translateX(100%);
}

/* Limit display switching animation to devices that show the tab bar */
@media (min-height: 600px) {
    #surface-speedmod, .targetbpm #surface-targetbpm { /* Enter view */
        transition: transform .2s, visibility 0s linear 0s;
    }
    .targetbpm #surface-speedmod, #surface-targetbpm { /* Exit view */
        transition: transform .2s, visibility 0s linear .2s;
    }
}

.targetbpm #display > div {
    transform: translateX(-100%);
}

.targetbpm #surface-speedmod, #surface-targetbpm {
    visibility: hidden;
}

.targetbpm #surface-targetbpm {
    visibility: visible;
}

#surface-targetbpm > div {
    height: 25%;
    font-size: calc(3.5vw + 3.5vh);
}

#surface-targetbpm > #bpms {
    height: 50%;
    font-size: calc(4vw + 4vh);
}

/* Cap font size on wide landscape displays, otherwise elements begin to clash and go off screen */
@media (min-aspect-ratio: 16/9) {
    #surface-targetbpm > div, #surface-targetbpm > #bpms {
        font-size: calc(3vh + 3vw);
    }
}

#targetbpm, #songbpm {
    display: inline-block;
    min-width: calc(3ch + 2px); /* Prevents shift of other UI elements when typing */
    min-height: 1em; /* Keeps the area clickable when there's no input */
    text-align: right;
}

#targetbpm-icon, #songbpm-icon {
    margin-right: 3vw;
    margin-left: 7vw;
}

#targetbpm-icon svg, #songbpm-icon svg {
    width: 1em;
    height: 1em;
    border-radius: 8px;
}

#targetbpm-icon:focus svg, #songbpm-icon:focus svg {
    background: var(--color-foreground-focus);
}

#targetbpm-icon.active:focus svg, #songbpm-icon.active:focus svg {
    background: var(--color-accent-focus);
}

#surface-targetbpm > div > .ideal {
    font-weight: 400;
}
