/*! DDR Calc | https://github.com/Andrew67/ddr-calc */
/* Update CSS */
#apply-update {
    color: var(--color-result);
    border: 1px solid var(--color-result);
    border-radius: 4px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 34px;
    display: inline-block;
}

#apply-update:focus {
    background: var(--color-result-focus);
}
