<Files "index.html">
    # Preload assets for app shell/core functionality
    # Note: only works when deployed on server at root level
    Header add Link "</css/calc.css>; rel=preload; as=style"
    Header add Link "</js/calc.js>; rel=preload; as=script"
</Files>