# Disable default directory file listings
Options -Indexes

# Disable default automatic Expires headers
<ifmodule mod_expires.c>
ExpiresActive Off
</ifmodule>

# Disable default Vary: User-Agent (prevents proper Service Worker cache matching)
Header edit Vary "User-Agent" ""

<Files "index.html">
# Preload assets for app shell/core functionality
# Note: only works when deployed on server at root level
Header add Link "</css/calc.css>; rel=preload; as=style"
Header add Link "</js/calc.js>; rel=preload; as=script"
# Game selector
Header add Link "</js/games.js>; rel=preload; as=script"
Header add Link "</css/games.css>; rel=preload; as=style"
Header add Link "</games.json>; rel=preload; as=fetch; crossorigin"
# Target BPM
Header add Link "</js/targetbpm.js>; rel=preload; as=script"
Header add Link "</css/targetbpm.css>; rel=preload; as=style"
# Intentionally non-preloaded functionality
# SVGs
# Menu / About dialog
# Dark mode toggle
# Update checker
</Files>

<FilesMatch "\.html$">
# Security headers as recommended by securityheaders.com
Header always set Content-Security-Policy "\
default-src 'self'; \
script-src 'self' 'sha256-ouZpqh80SFkdm6/bVlt6Nb0WiWzAeX+tRKMX7ufI5yo='; \
style-src 'self' 'sha256-nMc1pJn0ceZrXu1/AseDqpkZXDXIFbK3DPdspz3f+6c='; \
"

Header always set X-Frame-Options "SAMEORIGIN"
Header always set X-XSS-Protection "1; mode=block"
Header always set Referrer-Policy "strict-origin"

Header always set Permissions-Policy "\
geolocation=(), \
microphone=(), \
camera=(), \
autoplay=(), \
payment=(), \
"
</FilesMatch>

Header set Cache-Control "public, max-age=600, s-maxage=86400"
Header always set X-Content-Type-Options "nosniff"
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"