/*! DDR Calc | https://github.com/Andrew67/ddr-calc */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;

    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#app {
    width: 100%;
    height: 100%;
}

#display {
    width: 100%;
    height: 30%;
    font-size: calc(5vh + 5vw);
    text-align: right;
}

#display div {
    margin-right: 3vw;
    height: 50%;
}

#display .active {
    color: #00227b; /* Material Indigo 600 Dark */
}

#result {
    color: #00600f; /* Material Green 700 Dark */
}

.keypad {
    height: 70%;
    color: white;
    font-size: calc(5vh + 5vw);
    text-align: center;
}

#keypad-main {
    width: 75%;
    background-color: #263238; /* Material Blue Grey 900 */
    float: left;
}

#keypad-ext {
    width: 25%;
    height: 70%;
    background-color: #4f5b62; /* Material Blue Grey 900 Light */
    float: right;
}

.keypad li {
    display: inline-block;
    width: 33%;
    height: 25%;
    vertical-align: top;
}

.keypad li.active {
    background-color: #546e7a; /* Material Blue Grey 600 */
}

.keypad li.disabled {
    opacity: 0;
}

#keypad-ext li {
    width: 100%;
    font-size: calc(3vh + 3vw);
}